 header{
    background-color: rgb(103, 103, 255);
    height: 170px;
    background-image: cover;
}

.sfondo{
    height: 100%;
}

#logo{
    width: auto;
    height: 50px;
}

h1{
    font-size: 60px;
    font-weight: 900;
}

h3{
    color: gray;
}

#link{
    text-decoration: none;
}

.tim-img{
    padding-top: 30px;
}

.photo-text{
    font-size: 15px;
}

.text{
    padding-top: 30px;
    font-weight: bold;
}

.color-text{
    background-color: rgb(215, 178, 42);
}

thead{
    background-color: aqua;
}

tbody{
    background-color: aquamarine;
}